<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/lang-logo.png">
        </a>
        <h1>KLOC Project</h1>
        <a href="/klocproject"><i></i> KLOC Project</a>
      </div>
    </div>
    <div class="container">

      <hr>
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
      <!-- row -->

    </div>


</body>

</html>