<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">
            <h2>KLOC Project</h2>
        </div>

        <% if ( locals.projects) { %>
            <h2>Select the Project</h2>
            <form role="form" id="selectProject" action="/form" method="POST">
                <div class="form-group" id="project">

                    <table name="projects">
                        <tr>
                            <% for (var i=0; i < projects.length; i++) {%>
                                <td>
                                    <div class="form-group" id="project">
                                        <% if (i == 0 ) { %>
                                            <label class="radio-inline">
                                                <input type="radio" name="selectedProject" value="<%= projects[i].name %>" checked>
                                                <%= projects[i].name %>
                                            </label>
                                            <% } else { %>
                                                <input type="radio" name="selectedProject" value="<%= projects[i].name %>">
                                                <%= projects[i].name %>
                                                    </label>

                                                    <% } %>
                                    </div>

                                </td>
                                <% } %>
                        </tr>
                    </table>

                </div>
            </form>

            <% } %>


                <h3>Select the Version</h3>
                <div>
                    <select id="monselect" name="selectedVersion">
                        <option value="IBB1" selected>IBB1</option>
                        <option value="IBB2">IBB2</option>
                        <option value="IBB3">IBB3</option>
                    </select>
                </div>
                <input type="submit" value="Select">

                </div>

</body>

</html>